<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create classroom</title>
        <link rel="stylesheet" href="create-classroom.css">
    </head>
    <body>
        <div id="main-div">
            <h1>Fill the following details and click the 'Create' button</h1>
            <form action="/create-classroom" method="post">
                <table align="center" style="text-align: left;">
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="className" placeholder="Enter classroom's name"></td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td><textarea name="classDescription" id="" cols="30" rows="10" placeholder="Description of class"></textarea></td>
                    </tr>
                    <tr>
                        <td>Faculty's email: &emsp;&emsp;</td>
                        <td><input type="email" name="classFacultyEmail" placeholder="email of faculty"></td>
                    </tr>
                </table>
                <button class="button-15" type="submit">Create</button>
            </form>
        </div>
    </body>
</html>