<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= NAME %> dashboard</title>
    </head>
    <body>
        <p>Login Successful. This is student dashboard.</p>
        <h1>Welcome <%= NAME %></h1>
        <p>Your User ID is <%= ID %></p>
        <p>Role: <%= ROLE %></p>
    </body>
</html>